.info{
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 40px;
	padding-left: 20px;
}

.info a{
	color: gray;
}

.info a:hover{
	color: orange;
}

a{
	text-decoration:none;
}

div.listItem, div.detailsItem, div#bookList {
	margin:20px;
	-webkit-border-radius: 6px;
	border: 1px solid gray;
	padding:40px;
}

div.booksItem{
	border-bottom: 1px solid gray;
}


div.booksItem:last-child{
	border-bottom: none;
}